
    <header id="home">

        <!-- Start Navigation -->

        <!-- End Navigation -->

    </header>

    <div class="banner-area text-combo top-pad-90">
        <!-- Fixed Shape -->
        <div class="fixed-shape" style="background-image: url(assets/img/shape/7.png);"></div>
        <!-- Fixed Shape -->
        <div class="item">
            <div class="box-table">
                <div class="box-cell">
                    <div class="container">
                        <div class="row">
                            <div class="double-items">
                                <div class="col-lg-6 info">
                                    <h2 class="wow fadeInDown" data-wow-duration="1s">Blair Capital Management</h2>
                                    <p class="wow fadeInLeft" data-wow-duration="1.5s">
                                        Your Partner in Wealth Creation
                                    </p>
                                </div>
                                <div class="col-lg-5 offset-lg-1 wow fadeInRight" data-wow-duration="1s">
                                    <img src="assets/img/illustration/20.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->

    <!-- Star Features
    ============================================= -->
    <div class="top-features default-padding-top text-center bottom-less">
        <div class="container">
            <div class="row">
                <!-- Single Item -->
                <div class="single-item col-lg-3 col-md-6">
                    <div class="item wow fadeInUp" data-wow-delay="400ms">
                        <i class="flaticon-server-2"></i>
                        <h4 class="text-capitalize">Strategic Insight</h4>
                        <p>
                            In investments, it takes an insightful approach and strategic vision to navigate the ever-changing financial landscape successfully. 
                        </p>
                    </div>
                </div>
                <!-- Single Item -->
                <!-- Single Item -->
                <div class="single-item col-lg-3 col-md-6">
                    <div class="item wow fadeInUp" data-wow-delay="500ms">
                        <i class="flaticon-robot"></i>
                        <h4 class="text-capitalize">Future Security</h4>
                        <p>
                            At Blair Capital Management, we understand the importance of securing your financial future and are dedicated to helping you achieve your investment goals.
                        </p>
                    </div>
                </div>
                <!-- Single Item -->
                <!-- Single Item -->
                <div class="single-item col-lg-3 col-md-6">
                    <div class="item wow fadeInUp" data-wow-delay="600ms">
                        <i class="flaticon-machine-learning-1"></i>
                        <h4 class="text-capitalize">Wealth Preservation</h4>
                        <p>
                            Picture yourself on a journey to build and preserve wealth, facing the complexities of fluctuating markets, an array of investment options, and the challenge of making sound financial decisions.   
                        </p>
                    </div>
                </div>
                <!-- Single Item -->
                <!-- Single Item -->
                <div class="single-item col-lg-3 col-md-6">
                    <div class="item wow fadeInUp" data-wow-delay="700ms">
                        <i class="flaticon-server"></i>
                        <h4 class="text-capitalize">Financial Guidance</h4>
                        <p>
                            This is where Blair Capital Management steps in as your trusted partner, guiding you through each twist and turn on your path to financial success.
                        </p>
                    </div>
                </div>
                <!-- Single Item -->
            </div>
        </div>
        <!-- Fixed BG -->
        <div class="fixed-bg" style="background-image: url(assets/img/shape/9.svg);"></div>
        <!-- Fixed BG -->
    </div>
    <!-- End Features -->

    <!-- Star About Area
    ============================================= -->
    <div id="about" class="about-area default-padding">
        <div class="container">
            <div class="items-box">
                <div class="row">
                    <div class="col-lg-6 wow fadeInDown">
                        <img src="assets/img/illustration/5.png" alt="">
                    </div>
                    <div class="col-lg-6 info wow fadeInRight" data-wow-duration="1.3s">
                       <h5  class="text-capitalize">About Blair Capital Management</h5> 
                       <h2  class="text-capitalize">We provide expert investment services</h2>
                       <p>
                        As a leading investment company, Blair Capital Management offers tailored investment solutions to maximize returns and minimize risks. Our experienced professionals leverage in-depth market analysis, cutting-edge research, and strategic asset allocation to create a personalized investment plan that aligns with your financial objectives. Our comprehensive services include the following:
                       </p>
                       <ul>
                           <li>
                               <h5  class="text-capitalize">Portfolio Management and Advisory</h5>
                               <p>
                               </p>
                           </li>
                           <li>
                               <h5  class="text-capitalize">Retirement Planning and Wealth Preservation</h5>
                               <p>
                               </p>
                           </li>
                           <li>
                               <h5  class="text-capitalize">Tax-Efficient Investing Strategies</h5>
                               <p>
                               </p>
                           </li>
                           <li>
                               <h5  class="text-capitalize">Risk Management and Asset Protection</h5>
                               <p>
                               </p>
                           </li>
                       </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area -->

    <!-- Start Fun Factor Area
    ============================================= -->
    <div class="fun-factor-area bg-gray default-padding">
        <!-- Fixed BG -->
        <div class="fixed-bg" style="background-image: url(assets/img/map.svg);"></div>
        <!-- Fixed BG -->
        <!-- <div class="container">
            <div class="client-items text-center">
                <div class="row">
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="timer" data-to="687" data-speed="5000">687</div>
                            <span class="medium">Projects Executed</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="timer" data-to="2348" data-speed="5000">2348</div>
                            <span class="medium">Data Analytics</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="timer" data-to="450" data-speed="5000">450</div>
                            <span class="medium">Data Management</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="timer" data-to="1200" data-speed="5000">1200</div>
                            <span class="medium">Satisfied Customers</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <!-- End Fun Factor Area -->

    <!-- Start Services Area
    ============================================= -->
    <div id="services" class="services-area left-border default-padding bottom-less">

        <!-- Shape Fixed Rotation -->
        <div class="shape-fixed animation-rotation">
            <img src="assets/img/round-shappe.png" alt="">
        </div>
        <!-- Dhape Fixed Rotation -->

        <div class="container">
            <div class="heading-left">
                <div class="row">
                    <div class="col-lg-5">
                        <h2  class="text-capitalize">
                            Investment Services
                        </h2>
                    </div>
                    <div class="col-lg-6 offset-lg-1">
                        <p>
                            Countless clients have trusted Blair Capital Management to secure their financial futures, and time after time, our expert guidance has led to realizing their investment goals. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="services-items">
                <div class="row">
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <img src="assets/img/icon/1.png" alt="">
                            <h4  class="text-capitalize">commitment</h4>
                            <p>
                                Our commitment to understanding each client's unique needs and aspirations has earned us a reputation for delivering exceptional results and fostering long-lasting relationships.
                                 </p>
                        </div>
                    </div>
                    <!-- Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <img src="assets/img/icon/2.png" alt="">
                            <h4  class="text-capitalize">Transparency</h4>
                            <p>
                                Education, and transparency are vital to a successful investment strategy. As part of our commitment to client success, we aim to provide comprehensive investment insights and resources. From market updates and economic forecasts to educational materials and personalized consultations, our clients are equipped with the knowledge and support necessary to make informed decisions and stay ahead of market trends.
                               </p>
                        </div>
                    </div>
                    <!-- Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <img src="assets/img/icon/3.png" alt="">
                            <h4  class="text-capitalize">expertise</h4>
                            <p>
                                With a diverse range of expertise spanning multiple sectors and asset classes, our team is uniquely positioned to identify and capitalize on investment opportunities that align with each client's financial goals. By fostering a culture of collaboration, innovation, and continuous learning, we remain at the forefront of the investment industry, ensuring that our clients benefit from the most advanced strategies and insights.   </p>
                        </div>
                    </div>
                    <!-- Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Services Area -->

    <!-- Start Work Process Area
    ============================================= -->
    <div id="process" class="work-process-area bg-gray default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4  class="text-capitalize">Investment Process</h4>
                        <h2  class="text-capitalize">
                            How We Work
                        </h2>
                    </div>
                </div>
            </div>
            <div class="works-process-items text-center">
                <div class="row">
                    <!-- Single Item -->
                    <div class="col-lg-4 single-item">
                        <div class="item">
                            <div class="icon">
                                <i class="flaticon-problem"></i>
                                <span>01</span>
                            </div>
                            <div class="info">
                                <h4  class="text-capitalize">Discover Your Financial Objectives</h4>
                                <p>
                                    At Blair Capital Management, our journey begins with understanding your unique financial goals and aspirations. We delve into your investment preferences, risk tolerance, and time horizon through personalized consultations, creating a solid foundation to build a tailored investment strategy.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Single Item -->
                    <div class="col-lg-4 single-item">
                        <div class="item">
                            <div class="icon">
                                <i class="flaticon-data-collection"></i>
                                <span>02</span>
                            </div>
                            <div class="info">
                                <h4  class="text-capitalize">Craft a Customized Investment Plan</h4>
                                <p>
                                    Leveraging our team's diverse expertise and in-depth market knowledge, we carefully analyze investment opportunities and design a bespoke portfolio that aligns with your financial objectives. By employing strategic asset allocation and rigorous risk management, we ensure your investment plan is optimized for growth and wealth preservation.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Single Item -->
                    <div class="col-lg-4 single-item">
                        <div class="item">
                            <div class="icon">
                                <i class="flaticon-cloud-data"></i>
                                <span>03</span>
                            </div>
                            <div class="info">
                                <h4  class="text-capitalize">Ongoing Portfolio Management and Support</h4>
                                <p>
                                    Your financial journey with Blair Capital Management continues after the implementation of your investment plan. Our team monitors market trends, evaluates investment performance, and adjusts your portfolio to capitalize on new opportunities and mitigate risks. In addition, we provide ongoing support, regular updates, and timely insights to keep you informed and confident in your investment decisions.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Work Process Area -->

    <!-- Start Skill Area
    ============================================= -->
    <div id="skill" class="skill-area left-border overflow-hidden circular-shape default-padding">
        <div class="container">
            <div class="skill-items">
                <div class="row">
                    <div class="col-lg-6 info">
                        <h2  class="text-capitalize">Our Skills</h2>
                        <h3  class="text-capitalize">We take managing your money seriously</h3>
                        <p>
                            Blair Capital Management has a team of experienced and knowledgeable professionals who possess the skills and expertise necessary to handle clients' money effectively. The team has a deep understanding of the financial markets, and they are able to provide valuable insights and advice to clients. They are able to develop customized investment strategies that are tailored to each client's individual needs, goals and risk tolerance, which helps ensure that clients' portfolios are well-suited to their specific needs and objectives. Additionally, the team is able to actively manage and monitor the clients' portfolio, regularly adjusting strategies and making changes as needed to optimize returns and minimize risks. The firm also has a strong track record of delivering strong returns for their clients, which can help clients achieve their financial goals.
                        </p>
                        <div class="skill-items">
                            <!-- Progress Bar Start -->
                            <div class="progress-box">
                                <h5>YTD Return <span class="float-end">9.85%</span>
                                </h5>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-width="88"></div>
                                </div>
                            </div>
                            <div class="progress-box">
                                <h5>YTD S&P 500 <span class="float-end">11.53%</span>
                                </h5>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-width="88"></div>
                                </div>
                            </div>
                            <div class="progress-box">
                                <h5>YTD S&P 400 <span class="float-end">1.56%</span>
                                </h5>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-width="88"></div>
                                </div>
                            </div>
                            <div class="progress-box">
                                <h5>YTD Dow <span class="float-end">-.44%</span>
                                </h5>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-width="88"></div>
                                </div>
                            </div>
                            <div class="progress-box">
                                <h5>2022  Return <span class="float-end">-13.06%</span></h5>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-width="95"></div>
                                </div>
                            </div>
                            <div class="progress-box">
                                <h5>2021  Return <span class="float-end">24.76%</span></h5>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-width="70"></div>
                                </div>
                            </div>
                            <div class="progress-box">
                                <h5>2020  Return <span class="float-end">13.66% </span></h5>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-width="70"></div>
                                </div>
                            </div>
                            <!-- End Progressbar -->
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image-box">
                            <!-- <img class="wow fadeInRight" data-wow-delay="0.6s" src="assets/img/illustration/3.png" alt=""> -->
                            <img class="wow fadeInLeft" data-wow-delay="0.8s"  src="assets/img/illustration/1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Skill Area -->

    


    <!-- Star Footer
    ============================================= -->
    <footer>
        <div class="container">
            <div class="f-items default-padding">
                <div class="row">
                    <div class="equal-height col-lg-8 col-md-6 item">
                        <div class="f-item about">
                            <p>
                                Embark on your wealth creation journey with confidence. Contact Blair Capital Management today for a complimentary consultation and discover how our personalized investment strategies can help you succeed financially.
                            </p>
                        </div>
                    </div>


                    <div class="equal-height col-lg-4 col-md-6 item">
                        <div class="f-item contact">
                            <h4 class="widget-title">Contact Info</h4>
                            <div class="address">
                                <ul>
                                    <li>
                                                                        31 Montego Colony Unit 4 <br> Fox Lake, IL. 60020

                                    </li>
                                    <li>
                                        <strong>Email:</strong> info@blair-capital.co
                                    </li>
                                    <li>
                                        <strong>Contact:</strong> 312.593.2062
                                    </li>
                                    <li>
                                        <strong>Fax:</strong> 224-706-9117
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row">
                    <div class="col-lg-6">
                        <p>&copy; Copyright 2023. All Rights Reserved by <a href="#">Blair Capital Management</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shape -->
        <div class="footer-shape" style="background-image: url(assets/img/shape/1.svg);"></div>
        <!-- End Shape -->
    </footer>
    <!-- End Footer-->

